* {
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1000px;
}

.containerRocket {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 3px solid antiquewhite;
}

.descriptionRocket {
  width: 70%;
  margin-left: 10px;
}

.headerRocket {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.avatarRocket {
  width: 30%;
}

img {
  height: 100%;
  object-fit: cover;
}

.missionName {
  font-size: larger;
  font-weight: bolder;
}

.date {
  font-weight: lighter;
}

.details {
  text-align: justify;
}

.select {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.header {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.RocketsNotFound {
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}